/* index.css - Global Application Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: Segoe UI, system-ui, -apple-system, sans-serif;
  background-color: #b1a289;
  color: #1c6e79;
}



#root {
  display: flex;
  flex-direction: column;
}
